# Auto detect text files and perform LF normalization
* text=auto

MovieStoreV4/Content/js/* linguist-vendored

MovieStoreV4/Content/css/* linguist-vendored
MovieStoreV4/Areas/Admin/Views/* linguist-vendored
MovieStoreV4/Views/* linguist-vendored